<section>
  <div class="page-header">
    <h1>Certificates</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="certificate in vm.certificates" ui-sref="certificates.view({ certificateId: certificate._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="certificate.created | date:'mediumDate'"></span>
        by
        <span ng-if="certificate.user" ng-bind="certificate.user.displayName"></span>
        <span ng-if="!certificate.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="certificate.title"></h4>
      <p class="list-group-item-text" ng-bind="certificate.content"></p>
    </a>
  </div>
</section>
