<div>
  <h3 class="col-xs-12 text-center">Registrate en LoroDigi y empieza a usar tus certificados laborales de la manera inteligente!</h3>
  <br><br>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <br><br>
        <div class="form-group" show-errors>
          <label for="firstName">Nombres</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name"
            required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Apellidos</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name"
            required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El apellido es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase
            required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El correo electrónico es requerido.</p>
            <p class="help-block error-text" ng-message="email">El correo es invalido.</p>
          </div>
        </div>
        <section class="row">
          <div class="col-md-6 text-center">
            <div class="form-group" show-errors>
              <label for="tipoidentificacion">Tipo de identificación</label>
              <input type="tipoidentificacion" id="tipoidentificacion" name="tipoidentificacion" class="form-control" ng-model="vm.credentials.tipoidentificacion"
                placeholder="Tipoidentificacion" lowercase required>
              <div ng-messages="vm.userForm.tipoidentificacion.$error" role="alert">
                <p class="help-block error-text" ng-message="required">El correo electrónico es requerido.</p>
                <p class="help-block error-text" ng-message="email">El correo es invalido.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="form-group" show-errors>
              <label for="tipoidentificacion">Numero</label>
              <input type="numeroidentificacion" id="numeroidentificacion" name="numeroidentificacion" class="form-control" ng-model="vm.credentials.tipoidentificacion"
                placeholder="Numeroidentificacion" lowercase required>
              <div ng-messages="vm.userForm.numeroidentificacion.$error" role="alert">
                <p class="help-block error-text" ng-message="required">El <i>Numero de identificación<i> es requerido.</p>
            <p class="help-block error-text" ng-message="numeroidentificacion">El <i>Numero de identificación<i> es invalido.</p>
          </div>
        </div>
          </div>
      </section>
        <div class="form-group" show-errors>
          <label for="username">Nombre de usuario</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre de usuario es requerido.</p>
            <p class="help-block error-text" ng-message="pattern">Por favor ingrese un <i>Nombre de usuario</i> valido: 3+
                  carácteres, non restricted word, los carácteres "_-.", sin signos de punto(.) consecutivos, no puede empezar o terminar con puntos(.)
                  , letras a-z y numeros 0-9.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="password">Clave secreta</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password"
                uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
              <div ng-messages="vm.userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">La <i>Clave secreta</i> es requerida.</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="!vm.userForm.password.$error.required">
              <label>Requisitos de la <i>Clave secreta</i></label>
              <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}">
                <span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span>
</uib-progressbar>
</div>
<div class="text-center form-group">
  <button type="submit" class="btn btn-primary">Regisrarse</button> &nbsp; or&nbsp;
  <a ui-sref="authentication.signin" class="show-signup">Ingresar</a>
</div>
</fieldset>
</form>
</div>
</div>